Package: com.sassoty.biotesting
Name: BioTesting
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Working example of BiometricKit
Maintainer: Sassoty <sassoty@gmail.com>
Author: Sassoty <sassoty@gmail.com>
Section: Tweaks
